:root{
    --bg: #d1cece;
    --text: #1d2024;
    --card: #fbf6f8;
    --accent: #e37896;
}
*{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

body{

    background:var(--bg);
    color:var(--text);
    font-family:Arial,sans-serif;
    padding:2rem;

}
header{
     text-align:center;
    margin-bottom:1.8rem;

}
button{
    cursor: pointer;
    border: none;
    padding: 0.8rem 1.2rem;
    border-radius: 0.5rem;
    background:var(--accent);
    color:rgb(244, 240, 240);
    font-size:1rem;
    margin-top: 1.3rem;
}
button:focus,
a:focus,
input:focus{

    outline: 2px solid #2563eb;
    outline-offset:0.1rem;
}
.pricing-grid{

    display:grid;
    grid-template-columns:1fr;
    gap:1.5rem;

}

.card{

    background:var(--card);
    padding:7rem;
    border-radius:7rem;
    text-align:center;

}

.card:hover{
    background: blue;
    color: white;
}

.card.active{
    background: #2563eb;
    color: white;
    transform: scale(1.08);
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.35);
    z-index: 10;
}
.price{

    font-size:2rem;
    margin:1rem 0;

}

.card ul{

    list-style: circle;
    font-size: large;
    user-select: 3rem;
    cursor: pointer;
    position: relative;
    margin-bottom:2rem;

}

.card li{

    margin:0.5rem 0;

}

@media(min-width:48rem){

.pricing-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(min-width:64rem){

.pricing-grid{

grid-template-columns:repeat(3,1fr);

}

}
.modal{

position:fixed;
inset:0;
background:rgba(0,0,0,.6);
display:flex;
justify-content:center;
align-items:center;

}

.hidden{

display:none;

}

.modal-content{

background:white;
padding:2rem;
border-radius:1rem;
width:90%;
max-width:30rem;

}

@media(prefers-color-scheme:dark){

.modal-content{

background:#1f2937;
color: aliceblue;
}
}